.header-green,
.header-blue {
  padding: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px 0px #00000033 inset;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.header-green {
  background: #99cc33;
}

.header-blue {
  background: #00a8b1;
}
