.l-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 397px;
  background-image: url("../imgs/faune-mexique.png");
  box-shadow: 0px 39.5px #ffb500;
}

.l-fish-list {
  background-image: url("../imgs/bird-pattern-bg.png");
  padding-bottom: 93px;
}
